workflows/camer360-complete-automation.json
{
  "name": "Camer360 Complete Automation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 2 }] }
      },
      "id": "node-schedule",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 460]
    },
    {
      "parameters": { "url": "https://www.lindaikejisblog.com/feeds/posts/default", "options": {} },
      "id": "rss-linda",
      "name": "Linda Ikeji",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 180]
    },
    {
      "parameters": { "url": "https://www.pulse.ng/rss", "options": {} },
      "id": "rss-pulse-ng",
      "name": "Pulse Nigeria",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": { "url": "https://www.pulse.com.gh/rss", "options": {} },
      "id": "rss-pulse-gh",
      "name": "Pulse Ghana",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 420]
    },
    {
      "parameters": { "url": "https://www.bellanaija.com/feed/", "options": {} },
      "id": "rss-bellanaija",
      "name": "BellaNaija",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 540]
    },
    {
      "parameters": { "url": "https://thenet.ng/feed/", "options": {} },
      "id": "rss-thenet",
      "name": "The Net NG",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 660]
    },
    {
      "parameters": { "url": "https://www.okayafrica.com/rss/", "options": {} },
      "id": "rss-okayafrica",
      "name": "OkayAfrica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 780]
    },
    {
      "parameters": { "url": "http://fr.trace.tv/trace-africa/feed/", "options": {} },
      "id": "rss-trace",
      "name": "Trace Africa",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 900]
    },
    {
      "parameters": {
        "jsCode": "// Merge all RSS items into one array with source label\nconst allItems = [];\nconst sourceMap = {\n  'Linda Ikeji': 'lindaikejisblog',\n  'Pulse Nigeria': 'pulse-ng',\n  'Pulse Ghana': 'pulse-gh',\n  'BellaNaija': 'bellanaija',\n  'The Net NG': 'thenet-ng',\n  'OkayAfrica': 'okayafrica',\n  'Trace Africa': 'trace-africa',\n};\nfor (const item of $input.all()) {\n  const src = item.json._source || 'unknown';\n  allItems.push({\n    json: {\n      source_name: src,\n      source_url: item.json.link || item.json.guid || '',\n      raw_title: (item.json.title || '').trim(),\n      raw_body: item.json.contentSnippet || item.json.summary || item.json.content || '',\n      raw_image_url: item.json.enclosure?.url || item.json['media:content']?.url || '',\n      language: src === 'trace-africa' ? 'fr' : 'en',\n    }\n  });\n}\nreturn allItems.filter(i => i.json.source_url && i.json.raw_title);"
      },
      "id": "node-merge",
      "name": "Merge & Label Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://camer360com.vercel.app/api/n8n/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(i => i.json) }}",
        "options": { "timeout": 15000 }
      },
      "id": "node-ingest",
      "name": "POST to Ingest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 540]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[
        { "node": "Linda Ikeji",   "type": "main", "index": 0 },
        { "node": "Pulse Nigeria", "type": "main", "index": 0 },
        { "node": "Pulse Ghana",   "type": "main", "index": 0 },
        { "node": "BellaNaija",    "type": "main", "index": 0 },
        { "node": "The Net NG",    "type": "main", "index": 0 },
        { "node": "OkayAfrica",    "type": "main", "index": 0 },
        { "node": "Trace Africa",  "type": "main", "index": 0 }
      ]]
    },
    "Linda Ikeji":   { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "Pulse Nigeria": { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "Pulse Ghana":   { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "BellaNaija":    { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "The Net NG":    { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "OkayAfrica":    { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "Trace Africa":  { "main": [[{ "node": "Merge & Label Sources", "type": "main", "index": 0 }]] },
    "Merge & Label Sources": { "main": [[{ "node": "POST to Ingest API", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true }
}
