workflows/camer360-ai-writer.json
{
  "name": "Camer360 AI Writer",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "id": "node-schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://camer360com.vercel.app/api/n8n/queue?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node-fetch-queue",
      "name": "Fetch Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 360]
    },
    {
      "parameters": {
        "jsCode": "// Unpack array response into individual items\nconst rows = $input.first().json;\nif (!Array.isArray(rows) || rows.length === 0) return [];\nreturn rows.map(row => ({ json: row }));"
      },
      "id": "node-split",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://camer360com.vercel.app/api/n8n/claude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"system\": \"You are a sharp, plugged-in African entertainment editor for Camer360, West and Central Africa's premier celebrity and lifestyle magazine. Write bold, punchy, entertaining copy. Name names. Keep it factual but never boring. Celebrate African excellence.\\n\\nRespond ONLY with valid JSON (no markdown, no code blocks):\\n{\\\"title\\\":\\\"scroll-stopping headline under 12 words\\\",\\\"slug\\\":\\\"url-friendly-slug\\\",\\\"excerpt\\\":\\\"2-sentence hook under 180 chars\\\",\\\"body\\\":\\\"full article in HTML using <p><h2><strong> tags, 400-600 words\\\",\\\"category_slug\\\":\\\"one of: celebrities|influencers|gossip|music|film-tv|fashion-beauty|money-moves|viral|diaspora|sport-stars|real-talk|exposed\\\",\\\"meta_title\\\":\\\"SEO title under 60 chars\\\",\\\"meta_desc\\\":\\\"SEO desc under 160 chars\\\"}\",\n  \"user\": \"Source: {{ $json.source_name }}\\nOriginal title: {{ $json.raw_title }}\\nContent: {{ $json.raw_body }}\\nLanguage: {{ $json.language }}\"\n}",
        "options": { "timeout": 45000 }
      },
      "id": "node-claude",
      "name": "AI Write Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 360]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude JSON response and attach queue item id\nconst item = $input.first();\nconst queueId = item.json._queueId; // passed through\ntry {\n  const parsed = JSON.parse(item.json.text || '{}');\n  return [{ json: { ...parsed, _queueId: queueId } }];\n} catch(e) {\n  return [{ json: { _queueId: queueId, _error: 'parse_failed', _raw: String(item.json.text).slice(0,200) } }];\n}"
      },
      "id": "node-parse",
      "name": "Parse Article JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 360]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.title }}", "operation": "isNotEmpty" }]
        }
      },
      "id": "node-check",
      "name": "Valid Article?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://camer360com.vercel.app/api/n8n/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"slug\": \"{{ $json.slug }}\",\n  \"excerpt\": \"{{ $json.excerpt }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"category_slug\": \"{{ $json.category_slug }}\",\n  \"meta_title\": \"{{ $json.meta_title }}\",\n  \"meta_desc\": \"{{ $json.meta_desc }}\",\n  \"language\": \"en\"\n}",
        "options": { "timeout": 15000 }
      },
      "id": "node-create-article",
      "name": "Create Draft Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 280]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://camer360com.vercel.app/api/n8n/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"id\": {{ $('Parse Article JSON').item.json._queueId }}, \"status\": \"processed\", \"article_id\": {{ $json.id }} }",
        "options": { "timeout": 10000 }
      },
      "id": "node-mark-done",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 280]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://camer360com.vercel.app/api/n8n/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"id\": {{ $json._queueId }}, \"status\": \"rejected\", \"reject_reason\": \"{{ $json._error || 'invalid_ai_response' }}\" }",
        "options": { "timeout": 10000 }
      },
      "id": "node-mark-rejected",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 460]
    }
  ],
  "connections": {
    "Every 30 Minutes":  { "main": [[{ "node": "Fetch Queue",         "type": "main", "index": 0 }]] },
    "Fetch Queue":       { "main": [[{ "node": "Split Items",         "type": "main", "index": 0 }]] },
    "Split Items":       { "main": [[{ "node": "AI Write Article",    "type": "main", "index": 0 }]] },
    "AI Write Article":  { "main": [[{ "node": "Parse Article JSON",  "type": "main", "index": 0 }]] },
    "Parse Article JSON":{ "main": [[{ "node": "Valid Article?",      "type": "main", "index": 0 }]] },
    "Valid Article?": {
      "main": [
        [{ "node": "Create Draft Article", "type": "main", "index": 0 }],
        [{ "node": "Mark Rejected",        "type": "main", "index": 0 }]
      ]
    },
    "Create Draft Article": { "main": [[{ "node": "Mark Processed", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true }
}
