workflows/rss-ingestion-engine.json
{
  "name": "Camer360 RSS Ingestion Engine",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{"field": "hours", "hoursInterval": 2}] }
      },
      "id": "schedule-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": { "url": "https://www.lindaikejisblog.com/feed", "options": {} },
      "id": "linda-ikeji",
      "name": "Linda Ikeji RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": { "url": "https://www.bellanaija.com/feed/", "options": {} },
      "id": "bellanaija",
      "name": "BellaNaija RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 340]
    },
    {
      "parameters": { "url": "https://www.pulse.com.gh/rss-articles.xml", "options": {} },
      "id": "pulse-gh",
      "name": "Pulse Ghana RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 480]
    },
    {
      "parameters": { "url": "https://thenet.ng/feed/", "options": {} },
      "id": "thenet",
      "name": "The Net NG RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 620]
    },
    {
      "parameters": { "url": "https://notjustok.com/feed/", "options": {} },
      "id": "notjustok",
      "name": "NotJustOk RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [400, 760]
    },
    {
      "parameters": { "mode": "append" },
      "id": "merge-rss",
      "name": "Merge RSS Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [640, 480]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst unique = [];\nfor (const item of $input.all()) {\n  const url = item.json.link || item.json.url || '';\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  unique.push({ json: {\n    title:       (item.json.title || '').trim(),\n    url:         url,\n    description: item.json.contentSnippet || item.json.summary || item.json.description || '',\n    pubDate:     item.json.pubDate || item.json.isoDate || '',\n    source:      item.json.meta?.title || item.json.feedTitle || 'RSS Feed',\n  }});\n}\nreturn unique;"
      },
      "id": "dedupe-items",
      "name": "Dedupe RSS Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 480]
    },
    {
      "parameters": { "maxItems": 10 },
      "id": "limit-batch",
      "name": "Limit Batch (10)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1060, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.camer360.com/api/n8n/claude",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",    "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'fast', system: 'You are an AI classifier for Camer360 entertainment magazine. Respond ONLY with valid JSON (no markdown): {\"category\":\"celebrities|music|gossip|viral|fashion-beauty|film-tv|influencers|money-moves|diaspora|sport-stars|real-talk|exposed\", \"score\":1-10, \"publish\":true}', user: 'Title: ' + $json.title + '\\nSummary: ' + $json.description }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "ai-classify",
      "name": "AI Classify Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 480]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1460, 480]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst original = $('Limit Batch (10)').all()[$itemIndex]?.json || {};\ntry {\n  const ai = JSON.parse(item.json.text || '{}');\n  return [{ json: { ...original, ai_category: ai.category, ai_score: ai.score ?? 0, ai_publish: ai.publish ?? false } }];\n} catch {\n  return [{ json: { ...original, ai_score: 0, ai_publish: false } }];\n}"
      },
      "id": "parse-classify",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "filter-score",
              "leftValue":  "={{ $json.ai_score }}",
              "rightValue": 6,
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "id": "filter-publish",
              "leftValue":  "={{ $json.ai_publish }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-quality",
      "name": "Filter High Quality (≥6)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1860, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.camer360.com/api/n8n/ingest",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",    "value": "camer360_auto_42756d753611bdfb3c08ab2714cae872" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify([{ source_name: $json.source, source_url: $json.url, raw_title: $json.title, raw_body: $json.description, language: 'en' }]) }}",
        "options": { "timeout": 10000 }
      },
      "id": "store-content",
      "name": "Store in Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 480]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[
        {"node": "Linda Ikeji RSS",  "type": "main", "index": 0},
        {"node": "BellaNaija RSS",   "type": "main", "index": 0},
        {"node": "Pulse Ghana RSS",  "type": "main", "index": 0},
        {"node": "The Net NG RSS",   "type": "main", "index": 0},
        {"node": "NotJustOk RSS",    "type": "main", "index": 0}
      ]]
    },
    "Linda Ikeji RSS":  {"main": [[{"node": "Merge RSS Sources", "type": "main", "index": 0}]]},
    "BellaNaija RSS":   {"main": [[{"node": "Merge RSS Sources", "type": "main", "index": 1}]]},
    "Pulse Ghana RSS":  {"main": [[{"node": "Merge RSS Sources", "type": "main", "index": 2}]]},
    "The Net NG RSS":   {"main": [[{"node": "Merge RSS Sources", "type": "main", "index": 3}]]},
    "NotJustOk RSS":    {"main": [[{"node": "Merge RSS Sources", "type": "main", "index": 4}]]},
    "Merge RSS Sources":       {"main": [[{"node": "Dedupe RSS Items",         "type": "main", "index": 0}]]},
    "Dedupe RSS Items":        {"main": [[{"node": "Limit Batch (10)",          "type": "main", "index": 0}]]},
    "Limit Batch (10)":        {"main": [[{"node": "AI Classify Content",      "type": "main", "index": 0}]]},
    "AI Classify Content":     {"main": [[{"node": "Rate Limit Delay",         "type": "main", "index": 0}]]},
    "Rate Limit Delay":        {"main": [[{"node": "Parse Classification",     "type": "main", "index": 0}]]},
    "Parse Classification":    {"main": [[{"node": "Filter High Quality (≥6)", "type": "main", "index": 0}]]},
    "Filter High Quality (≥6)":{"main": [[{"node": "Store in Queue",           "type": "main", "index": 0}]]}
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
